.nabground{
	  background-image: url("../img/background.png");
}

.ddd{
	margin-top: 6%;
}

.fitbtn{
	height: 45px;
}

.wide{
	width: 100%;
}


.right-spaced{
	position :relative !important;
	margin-right: 2% !important;
}

.down{
	margin-top: 4%;

}

.loadingImg{
	display: block;
	height: 46px; 
	width: 46px;
}
