html{
	background: #212121 url(../img/librosBC.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

p{
	font-size: 120%;
	text-shadow: black;	
	margin-bottom: 0%;
}

.logo {
	display: block;
    margin-left: auto;
    margin-right: auto
}

