label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */


}
label > input + img{ /* IMAGE STYLES */
  width: 100%;
  padding: 10%;
  cursor:pointer;
  border:2px solid transparent;
  cursor:pointer;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(0.8) grayscale(.8) opacity(.5);
       -moz-filter: brightness(.8) grayscale(.8) opacity(.5);
            filter: brightness(.8) grayscale(.8) opacity(.5);
}


label > input + img:hover{
      -webkit-filter: brightness(1) grayscale(0.3) opacity(.8);
       -moz-filter: brightness(1) grayscale(0.3) opacity(.8);
            filter: brightness(1) grayscale(0.3) opacity(.8);
}


label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  -webkit-filter: brightness(1) grayscale(0) opacity(1);
       -moz-filter: brightness(1) grayscale(0) opacity(1);
            filter: brightness(1) grayscale(0) opacity(1);
  border:4px solid #80cbc4;
    border-radius: 20px;
}