.shorter{
  width: 50%;
  margin: auto;
}

.roundgry{
   border-radius:20px !important;
  border-color: rgb(82, 82, 82) !important;
  border-style: solid !important;
  border-width: 1px !important;
}

.rounded-grey{
  border-radius:20px;
  border-color: rgb(82, 82, 82);
  border-style: solid;
  border-width: 1px;
}
.rounded{
  border-radius:20px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.imgbg{
  background-image: url("../img/desk.jpeg");
   background-repeat: no-repeat;
}

.imgbglogin{
  background-image: url("../img/bck.jpg");
   background-repeat: no-repeat;
   background-size:cover;
}


.imgbgs{
  background-image: url("../img/bricks.jpg");
   background-repeat: no-repeat;
}

.valign{
  margin-top: auto;
  margin-bottom: auto;
}

.card-image{
 	width: 50%;
	margin: auto;
	margin-top: 15px;
}

.card-title{
	font-size: 80%;
	text-align: center;
}


.card{
	height: 300px;
}

.cardl{
	margin-top: 10px;
}